<!-- <div class="post-comments-list"> -->
  
        <% for (comment of post.comments ) {%>

            <p>
                <%= comment.content %>
                <small>
                    <%= comment.user.name%>
                </small>
                <% if ((locals.user) && (locals.user.id== comment.user.id)){%>
                    <a href='/comment/destroy/<%= comment.id %>'>X</a>
                <%}%>
            </p>


        <% }%>
    
   
<!-- </div> -->