<footer>
   <div id="company-name">@Naruto-Uzumaki.All Rights Reserved </div>
    <div id="footer-links">
        <a href='/'>Home</a>
        <a href='/user/profile'>Profile</a>
    </div>

</footer>