<header>
    <div id="site-name">
        SocialRealm
   
    <% if (locals.user){ %>
    <div class="Home-tags">
        <li><a href="/">Home</a></li>
        <li><a href="/user/profile/<%= user.id %>">Profile</a></li>
    
    </div>
    <%}%>
</div>
    <div>
        <ul>
            <% if (locals.user){ %>
             
                <div>
                    <li>
                        <a href="/user/sign-out">SignOut</a>
                    </li>
                </div>

                <%}else{%>
                    <li>
                        <a href="/user/sign-in">SignIn</a>
                    </li>
                    <li>
                        <a href="/user/sign-up">SignUp</a>
                    </li>
                    <%}%>
        </ul>
    </div>
</header>