<link rel="stylesheet" type="text/css" href="/css/home.css">


<div id="home-page">

    <div class="col">Hey</div>
    <div id="centre-coloumn">
        <h1>SocialRealm/home</h1>
        <% if (locals.user){ %>
            <div id="feed-post">
                <h4>Posts</h4>
                <form action="/post/create" id="new-post-form" method="post">
                    <textarea name="content" style="resize: none;" id="test-area" cols="30" rows="3"
                        placeholder="Enter Text..."></textarea>
                    <input type="submit" value="post" />
                </form>
            </div>

            <div id="display-posts">
                <%- include('_posts'); -%>
            </div>
            <% } %>
    </div>
    <div class="col">
        <h1>Freinds</h1>
        <% if(locals.user){ %>
            <%- include('_freinds') -%>
                <%}%>
    </div>

</div>



<script src="/js/home_posts.js"></script>