<link rel="stylesheet" type="text/css" href="/css/home.css">
<section>
    <h1>SocialRealm/home</h1>
    <section id="feed-post">
        <h4>Posts</h4>
        <form action="/post/create" id="new-post-form" method="post">
            <textarea name="content" id="" cols="30" rows="3" placeholder="Enter Text..."></textarea>
            <input type="submit" value="post"/>
        </form>
    </section>
</section>