<html>
<head>
    <title><%= title%></title>
</head>
<body>
    <!-- partials and layouts -->
    <%- include('header'); -%>
    
    
    <%- body -%>


    <%- include('footer'); -%>
</body>
</html>