<h1>
    Codial/user_profile
</h1>

<div>
<span>Email:</span>
<span><%= email%></span>
</div>

<div>
    <span>name:</span>
    <span><%= name%></span>
</div>

<div>
    <a href="/user/sign-out"><button >SignOut</button></a>
</div>