<link rel="stylesheet" href="/css/user_signup.css">

<section>
<form action="/user/create" method="post">
    <input type="text" name="name" placeholder="Your Name" required>
    <input type="email" name="email" placeholder="Your Email" required>
    <input type="password" name="password" placeholder="Enter password" required>
    <input type="password" name="confirm_password" placeholder="Confirm Password" required>
    <button type="submit">SignUp</button>
</form>
</section>