#home-page {
  display: flex;
  align-items: center;
  height: 100%; }
  #home-page .col {
    width: 20vw;
    height: 100%;
    border: 1px solid black;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center; }
    #home-page .col ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: flex-start; }
      #home-page .col ul li a {
        color: black; }
  #home-page #centre-coloumn {
    width: 60vw;
    height: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center; }
    #home-page #centre-coloumn #display-posts ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 3px 0; }
      #home-page #centre-coloumn #display-posts ul li {
        list-style: none;
        margin: 2px 0; }
        #home-page #centre-coloumn #display-posts ul li a {
          color: black; }
