header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
  display: flex;
  background-color: #29487d;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  height: 45px;
  align-items: center;
  justify-content: space-between;
  list-style-type: none; }
  header ul {
    list-style-type: none;
    display: flex;
    width: fit-content;
    justify-content: space-around;
    margin-right: 7px; }
    header ul li {
      margin: 0px 3px; }
  header a {
    color: #fff;
    text-decoration: none; }
  header #site-name {
    display: flex;
    justify-content: flex-start;
    margin-left: 7px;
    font-size: larger;
    font-weight: bolder;
    align-items: center; }
    header #site-name .Home-tags {
      display: flex;
      width: 110px;
      margin-left: 50px;
      justify-content: space-between;
      font-size: large;
      font-weight: normal; }

footer {
  height: 70px;
  width: 100%;
  position: relative;
  bottom: 0;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  background-color: grey;
  display: flex;
  align-items: center; }
  footer div {
    margin: 0 5px; }
  footer #footer-links {
    display: flex;
    flex-direction: column; }
    footer #footer-links a {
      text-decoration: none;
      color: #fff; }

* {
  margin: 0;
  padding: 0; }

body {
  height: 100%;
  width: 100%; }
